# clase 3 
## actividad 
### datos simples

In [14]:
ciudad = ["salta","tucuman","corrientes"]

empleados = { 
             "empleado1": {"nombre": "alberto", "cargo": "operario", "salario": 30000},
             "empleado2": {"nombre":"gustavo","cargo":"supervisor","salario":40000}}
print(empleados["empleado1"]["nombre"])
print(empleados["empleado1"]["cargo"])
print(empleados["empleado1"]["salario"])

alberto
operario
30000

In [7]:
numero =[1,2,8,10]
print(numero)

numero.append(1)
print(numero)

numero.extend([6,7])
print(numero)

numero.insert(0,0)
print(numero)

numero.sort()
print(numero)

[1, 2, 8, 10]
[1, 2, 8, 10, 1]
[1, 2, 8, 10, 1, 6, 7]
[0, 1, 2, 8, 10, 1, 6, 7]
[0, 1, 1, 2, 6, 7, 8, 10]